@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Rubik+Dirt&family=Signika:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Rubik+Dirt&family=Signika:wght@300;500;700&display=swap");

$backgroundColor: #eeebd3;
$cardBackgroundColor: #f8e9e9;
$inputBackgroundColor: #fefffe;
$hoverInputBackgroundColor: #eff2f1;
$shadowColor: #613dc1;
$inputFocusColor: #320d6d;
$listFontFamily: "Quicksand", sans-serif;
$titleFontFamily: "Rubik Dirt", cursive;
